**.tlog
**.exp
**.ipch
**.txt
**.sdf
**.opensdf
**.obj
**.user
**.cache
**.pdb
**.lib
**.log
**.dll
**.iobj
**.ipdb
**.ilk
**.suo
**/debug
**/release
**/SHFB
**/SHFB

###########################

!/Packages/**

###########################
!/Release/

/Release/*
!/Release/Internal/

/Release/Internal/*
!/Release/Internal/Fasm.NET.dll
###########################

###########################
/ZzukBot_WPF/Resources/*
!/ZzukBot_WPF/Resources/Fasm.NET.dll
!/ZzukBot_WPF/Resources/ccode.dll
!/ZzukBot_WPF/Resources/StormLib.dll
###########################

###########################
!/SHFB Settings/

/SHFB Settings/*
!/SHFB Settings/ZzukBot.shfbproj
###########################
sh.exe.stackdump
ZzukBot.VC.db
ZzukBot.VC.VC.opendb
ZzukBot_2.VC.VC.opendb
ZzukBot_2.VC.db
.vs/ZzukBot_2/v15/Solution.VC.db
.vs/ZzukBot_2/v15/Browse.VC.db
.vs/ZzukBot_2/v15/Solution.VC.db-wal
.vs/ZzukBot_2/v15/Solution.VC.db-shm
.vs/ZzukBot_2/v15/Browse.VC.opendb
